
# ===== Core Libraries =====
numpy==1.26.4
pandas==2.2.3

# ===== Machine Learning =====
tensorflow==2.17.0
scikit-learn==1.5.2
joblib==1.4.2

# ===== Visualization =====
matplotlib==3.9.2
plotly==5.24.0
folium==0.17.0

# ===== Web App =====
streamlit==1.39.0
pyngrok==7.1.6

